In [127]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [128]:
df = pd.read_csv("temp_output (1).csv")

In [129]:
df

,Unnamed: 0,area,price,building_state,facades,bedrooms,kitchen_equipped,furnished,open_fire,locality,land_surface,terrace,terrace_surface,swimming_pool,property_type,property_subtype,garden,garden_surface
0,0,123.000000,200000.0,good,3.000000,2.0,installed,False,1.144966,3294,429.0,False,0,False,house,house,True,350
1,1,255.000000,698000.0,just renovated,4.000000,4.0,installed,False,1.144966,2070,1210.0,False,0,False,house,villa,False,0
2,2,234.000000,499000.0,as new,2.970242,5.0,undefined,False,1.144966,8800,744.0,False,0,False,house,villa,False,0
3,3,219.000000,717000.0,as new,2.970242,4.0,undefined,False,1.144966,8000,760.0,False,0,False,house,house,False,0
4,4,156.000000,429000.0,good,4.000000,4.0,installed,False,1.144966,8800,419.0,False,0,False,house,villa,True,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10053,10087,234.560062,330000.0,just renovated,2.970242,5.0,undefined,False,1.144966,9100,172.0,False,0,False,house,house,False,0
10054,10088,135.000000,75000.0,good,2.000000,2.0,semi equipped,False,1.144966,7390,421.0,False,0,False,house,house,True,421
10055,10089,107.000000,165239.0,as new,4.000000,2.0,undefined,False,1.144966,4470,331.0,False,0,False,house,house,True,150
10056,10090,200.000000,580000.0,as new,4.000000,3.0,undefined,False,1.144966,9290,987.0,False,0,False,house,house,False,0
10057,10091,234.560062,219000.0,good,2.970242,2.0,hyper equipped,False,1.144966,4020,173.0,True,25,False,house,house,True,71

In [137]:
df_copy = df.copy()
df_copy.drop(columns="property_type")

,Unnamed: 0,area,price,building_state,facades,bedrooms,kitchen_equipped,furnished,open_fire,locality,land_surface,terrace,terrace_surface,swimming_pool,property_subtype,garden,garden_surface
0,0,123.000000,200000.0,good,3.000000,2.0,installed,False,1.144966,3294,429.0,False,0,False,house,True,350
1,1,255.000000,698000.0,just renovated,4.000000,4.0,installed,False,1.144966,2070,1210.0,False,0,False,villa,False,0
2,2,234.000000,499000.0,as new,2.970242,5.0,undefined,False,1.144966,8800,744.0,False,0,False,villa,False,0
3,3,219.000000,717000.0,as new,2.970242,4.0,undefined,False,1.144966,8000,760.0,False,0,False,house,False,0
4,4,156.000000,429000.0,good,4.000000,4.0,installed,False,1.144966,8800,419.0,False,0,False,villa,True,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10053,10087,234.560062,330000.0,just renovated,2.970242,5.0,undefined,False,1.144966,9100,172.0,False,0,False,house,False,0
10054,10088,135.000000,75000.0,good,2.000000,2.0,semi equipped,False,1.144966,7390,421.0,False,0,False,house,True,421
10055,10089,107.000000,165239.0,as new,4.000000,2.0,undefined,False,1.144966,4470,331.0,False,0,False,house,True,150
10056,10090,200.000000,580000.0,as new,4.000000,3.0,undefined,False,1.144966,9290,987.0,False,0,False,house,False,0
10057,10091,234.560062,219000.0,good,2.970242,2.0,hyper equipped,False,1.144966,4020,173.0,True,25,False,house,True,71

Dropping properties that have more then 12 bedrooms

In [140]:
df_copy.bedrooms.value_counts()

3.00000     4450
4.00000     2351
2.00000     1148
5.00000      989
6.00000      401
1.00000      177
7.00000      155
3.65166      151
8.00000       91
10.00000      47
9.00000       41
11.00000      18
12.00000      10
15.00000       5
16.00000       4
13.00000       3
14.00000       3
22.00000       3
41.00000       2
30.00000       2
18.00000       2
39.00000       1
20.00000       1
50.00000       1
32.00000       1
24.00000       1
Name: bedrooms, dtype: int64

In [141]:
df_copy['bedrooms'] = df_copy[df_copy['bedrooms'] < 12.00000]

In [142]:
df_copy.bedrooms.value_counts()

0.0        1
6734.0     1
6727.0     1
6728.0     1
6729.0     1
          ..
3365.0     1
3366.0     1
3367.0     1
3368.0     1
10091.0    1
Name: bedrooms, Length: 10019, dtype: int64

Dropping properties that cost more then 2000000

In [154]:
print("there are", df_copy[df_copy['price'] >2000000].value_counts().sum(), "properties in this data set that cost more then 2000000â‚¬")
df_copy['price'] = df_copy[df_copy['price'] < 2000000]

there are 266 properties in this data set that cost more then 2000000â‚¬

Dropping properties with more then 500m2

In [156]:
df_copy['area'] = df_copy[df_copy['area'] < 500.000000]
df_copy.area.value_counts()

0.0        1
6703.0     1
6705.0     1
6706.0     1
6707.0     1
          ..
3345.0     1
3346.0     1
3347.0     1
3348.0     1
10091.0    1
Name: area, Length: 9534, dtype: int64

REGRESSION

In [47]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

x = df[["area", "bedrooms"]].values
y = df["price"].values

In [55]:
#multiple linear regression

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print(regressor.score(X_train, y_train))
print(regressor.score(x, y))

0.3093019281187718
0.30696582229951996

In [57]:
#polynomial regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# creating pipeline
Input = [('polynomial',PolynomialFeatures(degree=3)),('modal',LinearRegression())]
pipe = Pipeline(Input)

pipe.fit(X_train, y_train)
poly_pred = pipe.predict(X_test)

print(pipe.score(X_train, y_train))
print(pipe.score(X_test, y_test))

0.47498041880491093
0.3752406473164085

In [109]:
df[df['price'] > 1000000].value_counts().sum()
df_copy = df.copy()
df_copy['price'] = df['price'] < 1000000

In [110]:
x = df_copy[["area", "bedrooms"]].values
y = df_copy["price"].values

#polynomial regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# creating pipeline
Input = [('polynomial',PolynomialFeatures(degree=4)),('modal',LinearRegression())]
pipe = Pipeline(Input)

pipe.fit(X_train, y_train)
poly_pred = pipe.predict(X_test)

print(pipe.score(X_train, y_train))
print(pipe.score(X_test, y_test))

0.36297123509221707
0.345141633528113

In [111]:
#multiple linear regression

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print(regressor.score(X_train, y_train))
print(regressor.score(x, y))

0.22982604329348266
0.2332566148672729